@media (prefers-reduced-motion: no-preference){	
	* {
		scroll-behavior: smooth;
	}
}

body{
	background: #f5f6f7;
	color: #1b1b32;
	font-family: Helvetica;
	margin: 0;
}

#logo{
	width: max(100px, 18vw);/*Ancho máximo*/
	background-color: #0a0a23;/*Color del fondo*/
	padding: 0.4rem;
	aspect-ratio: 35/4;/*Tamaño del logo*/	
}

/*SECCIÓN DEL HEADER*/

header{
	justify-content: space-between;/*Justifica el contenido del header con un 'espacio entre' los elementos*/
	align-items: center;/*Centra los elementos verticalmente*/
	position: fixed;/*Fija la posición del header como 'fija'*/
	top: 0;/*Establece el 'header' en la parte superior de la página*/
	height: 50px;
	width: 100%;
	background-color: #1b1b32;
	display: flex;
}

h1{
	color: #f1be32;
	font-size: min(5vw, 1.2em);
	text-align: center;
}

/*BARRA DE NAVEGACIÓN*/

nav > ul{
	justify-content: space-evenly;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-inline-start: 0;
	margin-block: 0;
	height: 100%;
}

nav > ul > li{
	color: #dfdfe2;
	margin: 0 0.2rem;
	padding: 0.2rem;
	display: block;
}

li > a{
	color: inherit;/*Color de los botones del menú*/
	cursor: pointer;/*Esta porpiedad hace que el cursor se convierta en un icono de 'apuntador'*/
	text-decoration: none;/*Quita los underlines de los enlaces*/
}

/*Porpiedades cuando se sitúa encima de algún botón del menú*/
nav li:hover{
	color: #1b1b32;
	background-color: #dfdfe2;
	cursor: pointer;
}

/*SECCIÓN DEL MAIN*/
main{
	padding-top: 25px;
}

/*Secciones*/
section{
	max-width: 600px;
	width: 80%;
	margin: 0 auto 10px auto;
}

/*Campos de la información del estudiante*/
.info{
	padding: 10px 0 0 5px;/*'Relleno' de los campos de información*/
}

.formrow{
	margin-top: 30px;
	padding: 0px 15px;
}

input{
	font-size: 16px;/*Tamaño de fuente de los 'input'*/
}

.info input, .info label{
	display: inline-block;
	text-align: right;
}

.info input{
	width: 50%;
	text-align: left;
}

.info label{
	min-width: 55px;
	width: 10%;
	display: inline-block;/*Alinea los campos d información del estudiante*/
}

/*ENCABEZADOS*/
h1, h2{
	font-family: Verdana, sans-serif;
}

h2{
	border-bottom: 4px solid #dfdfe2;
	margin-top: 0;
	padding-top: 60px;
}

.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

/*BLOQUE DE PREGUNTAS HTML*/

p::before{
	content: 'Question #';/*Esto añade los '#' a las preguntas 'Questions'en las 'html questions'*/	
}

p{
	margin-top: 5px;
	padding-left: 15px;
	font-size: 20px;
}

/*Estilos para el bloque de preguntas de HTML */
.question-block{
	text-align: left;
	display: block;
	width: 100%;
	margin-top: 20px;
	padding-top: 5px;
}

.question{
	border: none;
	padding-bottom: 0;
}

/* Estilos para los 'radio buttons' de 'true' y 'false' */
.answers-list{
	padding: 0;
	list-style: none;
}

/*BOTÓN DE ENVIAR (SUBMIT) */

button{
	display: block;
  	margin: 40px auto;
  	width: 40%;
  	padding: 15px;
  	font-size: 23px;
  	background: #d0d0d5;
  	border: 3px solid #3b3b4f;
}

/*FOOTER*/

footer{
	background-color: #2a2a40;
	display: flex;
	justify-content: center;
}

/*Color del texto del 'Footer'*/
footer, footer a{
	color: #dfdfe2;
}

address{
	text-align: center;
	padding: 0.3em;
}
